<div class="main-container ">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2 mr-2 ">
      <div class="col pl-0 pr-0">
        <div class="card mt-3 mb-3 border-none">
          <h4>Comercial Management</h4>
        </div>
        <div>
          <app-menu></app-menu>
        </div>
      </div>
    </div>
    <div class="card col-md-10 pl-0 pr-0 background-grey border-none">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
        <div class="card min-height-60 mb-2">
          <app-nav-bar></app-nav-bar>
        </div>
        <div class="card mb-2" style="min-height: 480px;">
          <router-outlet></router-outlet>
        </div>
        <div class="card min-height-60">
          <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-building"></i>Company name
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Tel</h6>
          <p><i class="bi bi-telephone-fill"></i> + 212 622 572 313</p>
          <p><i class="bi bi-phone"></i> + 212 691 861 861</p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">E-mail</h6>
          <p><i class="bi bi-envelope"></i> yassir.silit@outlook.com</p>
          <p><i class="bi bi-envelope"></i> contact@i-softnetwork.com</p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Adrrss</h6>
          <p>
            <i class="bi bi-house-fill"></i>
            Bureau N° 14 résidence El houda A Rue N° 18 Omar ibn Laass Kénitra
          </p>
        </div>
        <div>

        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="https://i-softnetwork.com/">i-Soft Network.com</a>
  </div>
</footer>
<!-- Footer -->
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="p-3">
  <div class="card">
    <div class="card-header p-2">
      <h2>Dashboard</h2>
    </div>
    <div class="row m-2 p-2 ">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Total Customers : </h5>
            <p class="card-text">8</p>
            <a routerLink="/customers" class="btn btn-primary">Show Customers</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Total Products : </h5>
            <p class="card-text">7</p>
            <a routerLink="/products" class="btn btn-primary">Show Products</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card ">
          <div class="card-body text-center ">
            <h5 class="card-title ">Total Orders : </h5>
            <p class="card-text ">7</p>
            <a routerLink="/products" class="btn btn-primary ">Show Orders</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



