.main-container{
  margin: 50px;
}
.min-height-600{
  min-height: 600px;
}
.no-flex-wrap{
  flex-wrap: inherit !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.mr-2{
  margin-right: 6px;
}
