/* You can add global styles to this file, and also import other style files */

@import "bootstrap-icons/font/bootstrap-icons.min.css";

body{
  background-color: #eff2f5 !important;
}

.background-grey{
  background-color: #eff2f5 !important;
}

.border-none{
  border: none !important;
}

.min-height-60{
  min-height: 60px;
}

/* .background-secendry{
  background-color: rgb(191, 164, 130);
}

.background-priary{
  background-color: rgb(77, 160, 136);
} */

